<app-laravel-form [formGroup]="faturaFormGroup">
    <mat-form-field>
        <input matInput type="number" placeholder="KDV Yüzdesi" formControlName="kdv_yuzde">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="KDV Hariç" formControlName="kdv_haric">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="KDV Dahil" formControlName="kdv_dahil">
        <mat-error appError></mat-error>
    </mat-form-field>
    <button mat-raised-button laravelSubmit>Fatura Kes</button>
</app-laravel-form>

<pre>{{faturaFormGroup.value | json}}</pre>

<hr>


<input type="text" [valueModifier]="[f1,f2]" placeholder="qweqwe" [formControl]="deneme">
<input type="text" [valueModifier]="[f1,f2]" placeholder="qweqwe" [formControl]="deneme2">

<button (click)="log()">log</button>
{{deneme.value}}
<!--<input type="file" placeholder="file" base64File [(ngModel)]="file">-->
<!--<pre>{{file | json}}</pre>-->

<app-laravel-form [formGroup]="formGroup">
    <mat-form-field>
        <input matInput placeholder="Ad" formControlName="ad">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error appError></mat-error>
    </mat-form-field>
    <button mat-raised-button laravelSubmit>Submit</button>
</app-laravel-form>

<app-laravel-form [formGroup]="kayitFormGroup">
    <mat-form-field>
        <input matInput type="text" placeholder="T.C. Kimlik No *" formControlName="tc">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Ad Soyad *" formControlName="name">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Şifre *" formControlName="password">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Şifre(tekrar) *" formControlName="password_confirmation">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="email" placeholder="E-Posta Adresi *" formControlName="email">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [textMask]="{mask: mask, guide: true}" matInput type="text" placeholder="Telefon *"
               formControlName="tel">
        <mat-error appError></mat-error>
    </mat-form-field>
    <button mat-raised-button laravelSubmit>Kayıt Ol</button>
</app-laravel-form>

<app-laravel-form [formGroup]="loginFormGroup" action="/login" method="POST"
                  [value]="{tc: 121212121212, asd: 'qwe', password: 'wwwwwwwwwwwww'}">
    <mat-form-field>
        <input matInput type="number" placeholder="T.C. Kimlik No *" formControlName="tc">
        <mat-error appError></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Şifre *" formControlName="password">
        <mat-error appError></mat-error>
    </mat-form-field>
    <button mat-raised-button laravelSubmit>Kayıt Ol</button>
</app-laravel-form>


